<header class="hero">

    <div class="hero__container container">

        <div class="hero__text">
            <h1 class="hero__title">Cosultoria y asesoramiento dígital.</h1>
            <p class="hero__copy">Tienes alguna idea innovadora o proyecto, nosotros te ayudamos a lograrla.</p>
            <a href="#" class="hero__cta">Quiero conocer más</a>
        </div>

        <img class="hero__img" src="assets/message-ilustration-2.svg" alt="">

    </div>

</header>

<main class="main">
    <section class="instructor container">

        <div class="instructor__container">
            <img src="assets/Fotografia.jpg" class="instructor__img">
            <h2 class="instructor__name">Brayam Esteban Quiñones Sanchez</h2>
            <p class="instructor__tag">Fullstack developer</p>
            <p class="instructor__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed diam nec
                turpis
                vestibulum dapibus. In tempus justo in nibh cursus efficitur. Etiam tincidunt euismod libero at luctus.
                Cras
                vitae porta lorem, ut pharetra lacus. Donec ligula ex, porttitor sed lacinia quis, fermentum sed nunc.
                Curabitur egestas facilisis interdum. Nunc et ligula iaculis, congue enim et, eleifend risus. </p>
        </div>


    </section>

    <section class="about container">

        <div class="about__course">
            <h2 class="title title--border">¿De que va este curso?</h2>

            <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam autem incidunt
                modi minima facilis? A
                deleniti dicta iure minus eligendi voluptate consectetur animi sequi adipisci dolorum? Ipsum eius libero
                maiores!</p>

            <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam au mockuptem
                incidunt
                modi minima facilis? A
                deleniti dicta iure minus eligendi voluptate consectetur animi sequi adipisci dolorum? Ipsum eius libero
                maiores!</p>

            <a href="#" class="cta">Quiero acceder a este curso</a>
        </div>

        <figure class="about__picture">
            <img src="assets/mockup.svg" class="about__img">
        </figure>

    </section>

    <section class="card">
        <div class="container">
            <h2 class="title">Aprende los temas mas importantes</h2>
            <p class="card__copy">Estos son los temas mas importantes que debes conocer en CSS3</p>

            <div class="card__container">

                <div class="card__item">
                    <figure class="card__img">
                        <img src="assets/bxs-grid.svg" class="card__picture">
                    </figure>
                    <h3 class="card__title">
                        CSS GRID
                    </h3>
                    <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        tenetur aperiam consequatur beatae modi? Similique laboriosam iusto sequi eius facere?
                    </p>
                </div>

                <div class="card__item">
                    <figure class="card__img">
                        <img src="../../assets/bx-layout.svg" class="card__picture">
                    </figure>
                    <h3 class="card__title">
                        CSS GRID
                    </h3>
                    <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        tenetur aperiam consequatur beatae modi? Similique laboriosam iusto sequi eius facere?
                    </p>
                </div>

                <div class="card__item">
                    <figure class="card__img">
                        <img src="../../assets/bx-code.svg" class="card__picture">
                    </figure>
                    <h3 class="card__title">
                        CSS GRID
                    </h3>
                    <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        tenetur aperiam consequatur beatae modi? Similique laboriosam iusto sequi eius facere?
                    </p>
                </div>

                <div class="card__item">
                    <figure class="card__img">
                        <img src="../../assets/bxl-css3.svg" class="card__picture">
                    </figure>
                    <h3 class="card__title">
                        CSS GRID
                    </h3>
                    <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        tenetur aperiam consequatur beatae modi? Similique laboriosam iusto sequi eius facere?
                    </p>
                </div>

            </div>
        </div>
    </section>

    <section class="course container">
        <figure class="course__picture">
            <img src="../../assets/web1.jpg" class="course__img">
        </figure>

        <div class="course__about">
            <h2 class="title">¿De que va este curso?</h2>
            <p class="about__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident aliquam in
                eligendi laborum temporibus quam et at sed omnis sapiente?</p>
            <a href="#" class="cta">Quiero acceder al curso</a>
        </div>
    </section>

    <section class="course course--modifier container">
        <figure class="course__picture course__picture--right">
            <img src="../../assets/web2.jpg" class="course__img">
        </figure>

        <div class="course__about course__about--left">
            <h2 class="title">¿De que va este curso?</h2>
            <p class="about__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident aliquam in
                eligendi laborum temporibus quam et at sed omnis sapiente?</p>
            <a href="#" class="cta">Quiero acceder al curso</a>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer__container container">
        <div class="footer__contact">
            <div class="footer_texts">
                <h2 class="title">¿Tienes alguna duda?</h2>
                <p class="footer__copy">Si tienes alguna duda, puedes contactarme en cualquiera de mis redes sociales.
                </p>

                <div class="footer__social">
                    <a href="#" class="footer__link">
                        <img class="footer__icon" src="./../../assets/bxl-facebook.svg" alt="">
                    </a>
                    <a href="#" class="footer__link">
                        <img class="footer__icon" src="./../../assets/bxl-twitter.svg" alt="">
                    </a>
                    <a href="#" class="footer__link">
                        <img class="footer__icon" src="./../../assets/bxl-youtube.svg" alt="">
                    </a>
                    <a href="#" class="footer__link">
                        <img class="footer__icon" src="./../../assets/bxl-instagram.svg" alt="">
                    </a>
                </div>

            </div>

            <figure class="footer__picture">
                <img src="./../../assets/message-ilustration.svg" class="footer__img">
            </figure>


        </div>
        <p class="footer__copyright">
            Sitio creado por &copy; Esteban Qs
        </p>
    </div>
</footer>